<%= form_with(model: channel_status) do |form| %>
  <% if channel_status.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(channel_status.errors.count, "error") %> prohibited this channel_status from being saved:</h2>

      <ul>
        <% channel_status.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :channel_id, style: "display: block" %>
    <%= form.number_field :channel_id %>
  </div>

  <div>
    <%= form.label :status_id, style: "display: block" %>
    <%= form.number_field :status_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
