<p style="color: green"><%= notice %></p>

<%= render @channel_status %>

<div>
  <%= link_to "Edit this channel status", edit_channel_status_path(@channel_status) %> |
  <%= link_to "Back to channel statuses", channel_statuses_path %>

  <%= button_to "Destroy this channel status", @channel_status, method: :delete %>
</div>
