<div class="card" style="width: 18rem;">
  <img src=<%= channel.preview_url %> class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">
      <%= channel.title %>
    </h5>
    <p class="card-text"> <%= channel.description %></p>
    <div class="row mt-1">
      <div class="col-md-6 box text-start">
        <div>
          <%= link_to "More Info", channel, class:"btn btn-sm btn-outline-secondary" %>
        </div>
      </div>
      <div class="col-md-6 box text-end">
        <div>
          <% if !channel.status.nil? && channel.status == 16 %>
            <%= link_to "Watch Live!", channel.stream_link, class:"btn btn-sm btn-primary", target: :_blank %>
          <% else %>
            <%= button_to "Offline!", {}, class:"btn btn-sm btn-outline-danger",:disabled => true %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
