<div class="card channelDetail">
  <div class="crop">
    <img src=<%= @channel.preview_url %> class="card-img-top" alt="...">
  </div>
  <div class="card-body">
    <h3 class="card-title">
      <%=@channel.title%>
    </h3>
    <p>
      Streamer Name
    <p>
    <p> <%= @channel.description %></p>
    
    <h4>About Streamer</h4>
    <p class="card-text"><%= @channel.about%></p>

    <span>Stream language: <%= @language["name"]%></span>

    <h4 class="border-bottom">
      Games
    </h4>
    <div class="border-bottom">
      <% @games.each do |item| %>
          <%= link_to item['name'], root_path(:game_id=> item["id"]), class:"mx-2" %>
      <% end %>
    </div>
    <br />

    <div class="row">
      <div class="col-md-6 box text-start">
        <% if @channel.user == current_user %> 
          <div class="row">
            <div class="col">
              <%= link_to "Edit", edit_channel_path(@channel), class:"btn btn-sm btn-outline-secondary" %>
            </div>
            <div  class="col">
              <%= link_to "Manage Games", new_channel_game_path, class:"btn btn-sm btn-outline-primary" %>
            </div>
          </div>
        <%end%>
      </div>
      <div class="col-md-6 box text-end">
        <div>
          <% if @channel.user != current_user %>
             <% if @status.nil? || @status["id"] != 16 %>
              <%= button_to "Offline", {}, class:"btn btn-sm btn-outline-danger", :disabled => true %>
            <% else %>
              <%= link_to "Watch Live!", @channel.stream_link, class:"btn btn-sm btn-primary", target: :_blank %>
            <% end %>
          <% else %>
            <% if @status.nil? || @status["id"] != 16 %>
              <%= button_to "Go Live!", { :controller => 'channel_statuses', :channel_id => @channel.id, :status_id => 16}, :method => :post, class: "btn btn-sm btn-success" %> 
            <% else %>
              <%= button_to "Go Offline!", { :controller => 'channel_statuses', :channel_id => @channel.id, :status_id => 15}, :method => :post, class: "btn btn-sm btn-danger" %> 
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
