<%= form_with(model: channel_tag) do |form| %>
  <% if channel_tag.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(channel_tag.errors.count, "error") %> prohibited this channel_tag from being saved:</h2>

      <ul>
        <% channel_tag.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :channel_id, style: "display: block" %>
    <%= form.number_field :channel_id %>
  </div>

  <div>
    <%= form.label :tag_id, style: "display: block" %>
    <%= form.number_field :tag_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
