<%= form_with(model: channel_tag) do |form| %>
  <% if channel_tag.errors.any? %>
    <%= render layout: 'shared/error_modal' do %>
      <ul>
        <% channel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    <% end %>
  <% end%>
 
  <% if !@options.nil? %>
    <% @options.each do |option| %>
      <%= form.label option["name"] %>
      <%=form.check_box :tags, {multiple: true, skip_default_ids: false, class: "form-check-input", checked: !!current_user.channel.channel_tags.find { |each| each.tag_id == option["id"] } }, option["id"], nil %>  
    <%end%>
  <% end %>

  <div class="mt-2">
    <%= link_to "Cancel", channel_path(current_user.channel), class: "btn btn-outline-primary" %>
    <%= form.submit "Confirm", class: "btn btn-primary"%>
  </div>
<% end %>
