<div id="games">
  <div class="row gy-2">
    <% @games.each do |item| %>
      <div class="col">
      <%= link_to root_path(:game_id=> item["id"]), class: "undecoratedLink" do %>
        <div class="card customCard" style="width: 18rem;">
          <div class="card-image-container">
            <img src=<%= item['image'] %> class="card-img-top" alt="...">
          </div>
          <div class="card-body game-card-body-container">
            <h5 class="card-title">
              <%= item['name'] %>
            </h5>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
page: <%= @page%>
<div class="row" data-controller="games" data-count=<%=@count%>>
  <nav aria-label="Page navigation example">
    <ul class="pagination custom-pagination">
      <li class="page-item">
        <button class="page-link" aria-label="Previous" data-action="click->games#previousPage">
          <span aria-hidden="true">&laquo;</span>
        </button>
      </li>
      <% for i in 1...(@count/ 20) do %>
        <li class="page-item">
          <button class="page-link" data-action="click->games#onPageSelect" id=<%=i%>><%= i%></button>
        </li>
      <% end %>
      <li class="page-item">
        <button class="page-link" aria-label="Next"  data-action="click->games#nextPage">
          <span aria-hidden="true">&raquo;</span>
        </button>
      </li>
    </ul>
  </nav>
</div>