<%= form_with(model: channel_game, data: { controller: "channelGame", games: @current_user.channel.channel_game, token: session[:_csrf_token] } ) do |form| %>


  <% if channel_game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(channel_game.errors.count, "error") %> prohibited this channel_game from being saved:</h2>

      <ul>
        <% channel_game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="games-tags" id="channel-game-tags">
    <% @games.each do |game|%>
      <%= button_to game["name"] + " X", channel_game_path(game['channel_game_id']), method: :delete, id:game["id"],  class:"badge rounded-pill text-bg-primary tag-badge no-border mx-1"  %>
    <%end%>
  </div>

  <div class="dropdown mt-2">
    <input class="form-control games-search" type="text" id="channel-games-search" placeholder="Click to add Games"> 
    <div id="games-dropdown" class="dropdown-content">
    </div>
  </div>


  <div class="mt-2">
    <%= link_to "Back", channel_path(current_user.channel), class: "btn btn-outline-primary" %>
  </div>
<% end %>
