<%= form_with(model: channel_game) do |form| %>
  <% if channel_game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(channel_game.errors.count, "error") %> prohibited this channel_game from being saved:</h2>

      <ul>
        <% channel_game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :game_id, style: "display: block" %>
    <%= form.number_field :game_id %>
  </div>

  <div>
    <%= form.label :channel_id, style: "display: block" %>
    <%= form.number_field :channel_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
